@-moz-document url-prefix(about:privatebrowsing) {
    body {
        background-color: rgb(17, 18, 26) !important;

    }

    .logo-and-wordmark {
        margin-bottom: 48px !important;
    }

    .logo {
        background: url("/home/Fletch/.mozilla/firefox/[Profile Here]/about-logo.png") no-repeat center center !important;
        display: inline-block !important;
        height: 96px !important;
        width: 96px !important;
      
    }

    .search-handoff-button, .search-handoff-button:active, .search-handoff-button:enabled:hover:active {
        background: rgb(14, 14, 21) !important;
        border: solid 1px rgb(128, 0, 215) !important;
        padding-inline: 26px 48px !important;
    }

    .promo {
        display: none !important;
    }
    
    .fake-textbox {
        color: #fff !important;
    }

    .info {
        margin-top: 64px !important;
        background-position: left 38px top 33px !important;
        padding: 10px !important;
        padding-inline-start: 94px !important;
    }

    .info p {
        margin-top: 13px !important;
    }

    #private-browsing-myths {
        display: none !important;
    }  
    
}
